In [1]:
print("Hello World")

Hello World

In [2]:
print("hi! Akash here")

hi! Akash here

In [ ]:
How to give heading
### Python
## Python
# Python
no. of # decides the font size (lesser the # larger the font size)
# cell - cell type - markdown - run

### Python

## Python

# Python

### python version

In [3]:
!python --version   # Know the version of your python

Python 3.9.7

In [4]:
# Addition
a=45
b=50
c=35
sum = a+c+b
print(sum)

130

In [5]:
sum                   # other ways to get output

130

In [6]:
34+50+9+84               # In python we can do addition directly

177

In [7]:
x=2340
y=234
x+y

2574

In [8]:
Q = 12+34-32+66
Q

80

In [9]:
Q = (12+35+54)
Q

101

In [10]:
print(34+54)

88

In [11]:
print ('Hello World')    # String should be written in double/single inverted comma

Hello World

In [12]:
Print ("Hello World")    # case sensitive (p should be written in small letter)

NameError: name 'Print' is not defined

In [13]:
print (Hello World)     # string should be written in double/single inverted comma

SyntaxError: invalid syntax (Temp/ipykernel_4192/471821316.py, line 1)

In [14]:
print ("My name is Akash")

My name is Akash

In [15]:
A, B, C = 23, 'AKASH', 'WORLD'
print(A,B,C)
print(A)
print(B)
print(C)

23 AKASH WORLD
23
AKASH
WORLD

# Variable decalaration

# Variables are used to store the values

# Python has no command for declaring the variables

In [16]:
### Declaring a variable
X=5
X   # Recalling the variable

5

In [17]:
Name = Akash
Name    # since the variable contains string

NameError: name 'Akash' is not defined

In [18]:
Name_good = "Akash"
Name_good

'Akash'

In [19]:
_Name = "Akash"
_Name

'Akash'

In [20]:
1Name = "Akash"
1Name  # variable name should not start with number

SyntaxError: invalid syntax (Temp/ipykernel_4192/2113046955.py, line 1)

In [21]:
N1ame = "Akash"
N1ame

'Akash'

In [22]:
Name*good = "Akash"   # variable name should not contain a special character

SyntaxError: cannot assign to operator (Temp/ipykernel_4192/2147982825.py, line 1)

In [23]:
Name@good = "Akash"     # variable name should not contain a special character

SyntaxError: cannot assign to operator (Temp/ipykernel_4192/3874584948.py, line 1)

In [24]:
score = 100
score

100

In [25]:
print score # missing parentheses

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(score # missing parentheses)? (Temp/ipykernel_4192/3282792799.py, line 1)

In [26]:
print ('score')

score

In [27]:
Score     # variable file name is case sensitive

NameError: name 'Score' is not defined

### Rules for declaring variable

### A variable name must start with a letter or underscore charater

### A variable name cannot start with a number

### A variable name can only contain alpha-numeric characters and underscores (A-Z, 0-9, and _)

# Data types

In [28]:
A = "Akash"
type(A)

str

In [29]:
B = 5.3
type(B)

float

In [30]:
C = 3
type(C)

int

In [31]:
D = 3+2j        # j represent imaginary number
type(D)

complex

In [32]:
E = True  # T should be capital
type(E)

bool

In [33]:
F = "True"           # Anything written in inverted comma is considered as string
type(F)

str

In [ ]:
# problem
a=5, b=4.3 add and store in sum
subtract and store in sub
print both outputs

In [2]:
a = 5
b = 4.3
sum = a+b
sub = a-b
sum , sub

(9.3, 0.7000000000000002)

In [3]:
type(sum) , type(sub)

(float, float)

In [4]:
x = hello
type(x)   # it will show error since inverted comma is not there

NameError: name 'hello' is not defined

# Data structure

In [5]:
A = ("akash", "roshni", "vikash", "vandana")
type(A)

tuple

In [6]:
A = ["akash", "roshni", "vikash", "vandana"]
type(A)

list

In [7]:
A = {"akash" : "roshni", "vikash" : "vandana"}
type(A)

dict

In [8]:
A = {"akash", "roshni", "vikash", "vandana"}
type(A)

set

# 1) LIST

### 1) List is hetrogenous
### 2) Here index start with 0
### 3) Mutable using index
### 4) list is written in square bracket []

In [9]:
akash_list = [11, 23, 45, "hi", 1+2j, 6.7]  # it is hetrogenous because it allows int. , float , imaginary , string etc.
akash_list

[11, 23, 45, 'hi', (1+2j), 6.7]

In [10]:
type(akash_list)

list

In [11]:
akash_list [0]     # calling the list value using index

11

In [12]:
akash_list [-1]  # for negative values, list index starts from backward

6.7

In [13]:
akash_list [3]

'hi'

In [14]:
akash_list [10]   # error list index is out of range

IndexError: list index out of range

In [15]:
akash_list [0]=25   # list is mutable

In [16]:
akash_list

[25, 23, 45, 'hi', (1+2j), 6.7]

In [17]:
akash_list [2]=88

In [18]:
akash_list

[25, 23, 88, 'hi', (1+2j), 6.7]

In [19]:
akash_list.reverse()   # to reverse the list
akash_list

[6.7, (1+2j), 'hi', 88, 23, 25]

In [20]:
akash_list = [130, 114, 42, 36, 89]
akash_list.sort()    # it is use to arrange the list only usable when list contains number only
akash_list

[36, 42, 89, 114, 130]

In [21]:
akash_list = [12, "er", 34, 3+4j, 12]
akash_list

[12, 'er', 34, (3+4j), 12]

In [22]:
akash_list.sort()  # it contains string function

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
akash = ["good", "bad", "normal", "high", "low"]
akash

['good', 'bad', 'normal', 'high', 'low']

In [24]:
print ("good" in akash)    # To know wheather good is there in the list or not

True

In [25]:
print ("lucky" in akash)

False