### SOLVE BELOW QUESTION

### 1. Create a list of integer and float data type
### 2. Find the number of element in the list
### 3. Find the maximum and minimum value
### 4. Append a new element to the list
### 5. Create a copy of the list
### 6. Return index positin of an object
### 7. Insert a new element at the specified index position
### 8. Delete an element from the list
### 9. Reverse a list
### 10. Sort a list
### 11. Remove all the element from the list

In [20]:
list_akash = [19, 12, 2.8, 30, 3.9]

In [21]:
len(list_akash)

5

In [22]:
max(list_akash)

30

In [23]:
min(list_akash)

2.8

In [24]:
list_akash.append(10)
list_akash

[19, 12, 2.8, 30, 3.9, 10]

In [25]:
list_akash_copy = list_akash.copy()
list_akash_copy

[19, 12, 2.8, 30, 3.9, 10]

In [26]:
list_akash.index(3.9)

4

In [27]:
list_akash.insert(2,79)         # 2 is index and 79 is the number which will be added in the list
list_akash

[19, 12, 79, 2.8, 30, 3.9, 10]

In [28]:
list_akash.remove(2.8)         # 2.8 is being removed from the list
list_akash

[19, 12, 79, 30, 3.9, 10]

In [11]:
list_akash.reverse()
list_akash

[10, 3.9, 30, 79, 12, 19]

In [12]:
list_akash.sort()
list_akash

[3.9, 10, 12, 19, 30, 79]

In [13]:
list_akash.clear()
list_akash

[]

In [14]:
 # example of copy command
A = ['Nishad','Kapil','Armugraj']
B = A.copy()
B[2] = 'Shubhankar'
A, B, type(A), type(B)

(['Nishad', 'Kapil', 'Armugraj'],
 ['Nishad', 'Kapil', 'Shubhankar'],
 list,
 list)

## #Tuple
### 1. Tuple is Hetrogenous because it allows multiple data types
### 2. Index starts from 0 and Retrieve using index
### 3. Cannot change the data once declared. i.e Immutable
### 4. It is represented by ()

In [15]:
Akash_tuple = (3, 48, 4.7, "nishad", 6+7j, 9, 2.3)
Akash_tuple

(3, 48, 4.7, 'nishad', (6+7j), 9, 2.3)

In [16]:
Akash_tuple = 3, 48, 4.7, "nishad", 6+7j, 9, 2.3  # without parenthesis also it will consider it as tuple.
Akash_tuple

(3, 48, 4.7, 'nishad', (6+7j), 9, 2.3)

In [17]:
type(Akash_tuple)

tuple

In [18]:
Akash_tuple[2]

4.7

In [19]:
Akash_tuple[9]    # Error- index is out of range

IndexError: tuple index out of range

In [29]:
Akash_tuple.reverse()   #error - tuple is immutable

AttributeError: 'tuple' object has no attribute 'reverse'

In [30]:
Akash_tuple[4] = 29       #immutable

TypeError: 'tuple' object does not support item assignment

In [32]:
Akash_tuple.append(5)  #'tuple' object has no attribute 'append'

AttributeError: 'tuple' object has no attribute 'append'

In [33]:
Akash_tuple.remove("hi")   #'tuple' object has no attribute 'remove'

AttributeError: 'tuple' object has no attribute 'remove'

In [34]:
x = (356, 312, 329)        # x is a tuple and y is a list
y = list(x)               # We have to convert tuple into a list to make it mutable
y

[356, 312, 329]

In [35]:
y.remove(312)
y

[356, 329]

In [36]:
y.append(687)
y

[356, 329, 687]

## #SET
### 1. allowe heterogenous entry
### 2. it doesn't allow duplicate
### 3 we cannot access elements using index
### 4. Set is immutable using index but it is mutable for removing & adding element from the set
### 5. set ordered itself keeping in mind the first place

In [37]:
Akash_set = {432, 9, 236, 48, 3.46, "nishad", "kapil", "armugraj", 3+4j, 54.87}
type(Akash_set)

set

In [38]:
Akash_set

{(3+4j), 236, 3.46, 432, 48, 54.87, 9, 'armugraj', 'kapil', 'nishad'}

In [39]:
Akash_set[2]     #we cannot access elements using index

TypeError: 'set' object is not subscriptable

In [40]:
Akash_set.remove("nishad")
Akash_set

{(3+4j), 236, 3.46, 432, 48, 54.87, 9, 'armugraj', 'kapil'}

In [41]:
Akash_set.add("nishad")
Akash_set

{(3+4j), 236, 3.46, 432, 48, 54.87, 9, 'armugraj', 'kapil', 'nishad'}

In [42]:
Akash_set.pop()    ### pop is used to pick a random element from the set

3.46

In [43]:
Akash_set.pop()

9

In [44]:
Akash_set.pop()

236

In [45]:
Akash_set.pop()

432

In [46]:
Akash_set.pop()

48

In [47]:
Akash_set.pop()

(3+4j)

In [48]:
Akash_set.pop()

'nishad'

In [49]:
Akash_set.pop()

'armugraj'

In [50]:
Akash_set.pop()

54.87

In [51]:
Akash_set.pop()

'kapil'

In [52]:
Akash_set.pop()   # there is nothing left in the set so it will show empty set

KeyError: 'pop from an empty set'

## #Dictionary
### 1. Dictionary has key value pair with datastructure
### 2. Key is unique but the values of the key can be duplicated
### 3. In case of duplicate key it will consider the last one
### 4. We can change the value using key
### 5 We can retrieve the value using key
### 6. Key is immutable

In [53]:
Akash_dict={"Q":"Nishad", "R":"Kapil", 1:34, 2:"Box", "Q":"Akash", 4:456, 1:456,9:"Nine"} #Q, R, 1, 2, 4, 9 these are called key
type(Akash_dict)             # Nishad, Kapil, 34, Box these are called values

dict

In [54]:
Akash_dict  # key is unique and it consider th last value assigned to it

{'Q': 'Akash', 'R': 'Kapil', 1: 456, 2: 'Box', 4: 456, 9: 'Nine'}

In [55]:
Akash_dict["R"]  # Retrieving value using key

'Kapil'

In [56]:
 Akash_dict["Akash"] # We cannot retrieve key usingn it's value

KeyError: 'Akash'

In [57]:
Akash_dict[1] = "Harshit"  # dict is mutable through key
Akash_dict

{'Q': 'Akash', 'R': 'Kapil', 1: 'Harshit', 2: 'Box', 4: 456, 9: 'Nine'}

In [58]:
Akash_dict[8] = "34" # we cannot add new key and value to a dict
Akash_dict

{'Q': 'Akash',
 'R': 'Kapil',
 1: 'Harshit',
 2: 'Box',
 4: 456,
 9: 'Nine',
 8: '34'}

In [59]:
Akash_dict.reverse()   # It is not reversible

AttributeError: 'dict' object has no attribute 'reverse'

In [60]:
Akash_dict.pop("Q")     # Key "Q" is deleted
Akash_dict

{'R': 'Kapil', 1: 'Harshit', 2: 'Box', 4: 456, 9: 'Nine', 8: '34'}

## #String
### 1. String is retrievable using index
### 2. String is immutable

In [61]:
akash_string = "Today I am very happy."

In [62]:
type(akash_string)

str

In [63]:
akash_string[2]  # retrieving string element using index

'd'

In [64]:
akash_string[12]

'e'

In [65]:
akash_string[15]

' '

In [66]:
akash_string[4] = "E"  #String is immutable

TypeError: 'str' object does not support item assignment